* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #dedede;

  /* height: 1000px; */
}

.container {
  width: 920px;
  height: auto;
  margin: auto;
}

.judul {
  background-color: #fffaf1;
  padding-left: 20px;
  padding-top: 20px;
}

.judul h1 a {
  color: #2b2b2b;
}

.content {
  text-align: center;
  /* border: 2px solid red; */
  height: auto;
}

.content img {
  width: 200px;
  border-radius: 100px;
  border: 5px solid #2b2b2b;
}

.content h2 {
  color: #272727;
  padding-top: 20px;
  font-size: 20px;
}

.atas {
  background-color: #fffaf1;
  padding-top: 50px;
  padding-bottom: 30px;
}

.atas p {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.bawah {
  background-color: #2b2b2b;
}

.all-card {
  padding-top: 30px;
  padding-bottom: 100px;
  /* border: 2px solid red; */
}

.card {
  /* font-weight: ; */
  color: #fffaf1;
  width: auto;
  height: 50px;
  line-height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
  border: 2px solid #fffaf1;
  /* box-shadow: 0px 2px 2px 2px #000; */
}

.card:hover {
  /* box-shadow: 2px 2px 2px 2px #000; */
}

.card p a {
  color: #fffaf1;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  /* font-weight: bold; */
}

.card p i {
  margin-right: 5px;
  font-size: 20px;
}

footer {
  background-color: #2b2b2b;
  /* border: 2px solid red; */
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  font-weight: 500;
  text-align: left;
  margin-left: 20px;
  color: #fff;
}

footer p a {
  color: #fff;
  text-decoration: underline;
}

.contact {
  width: max-content;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: -30px;
  margin-right: 20px;
  background-color: #fffaf1;
  float: right;
  display: flex;
}

.github a i {
  margin: 0px 10px;
  color: #000;
}

.instagram a i {
  margin: 0px 10px;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto;
  }

  .card {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer {
    font-size: small;
  }
  
  .contact {
    float: none;
    margin-top: 10px;
    margin-left: 20px;
  }
}
